<div class="row margin-t-50">
  <div class="col-xs-12 text-center">
    <h1>Find Jobs</h1>
    <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="jobTitle">Job Title</label>
        <input type="text" class="form-control input-lg" id="jobTitle" placeholder="Job Title">
      </div>
      <div class="form-group">
        <label class="sr-only" for="jobLocation">City, State or Zip</label>
        <input type="text" class="form-control input-lg" id="jobLocation" placeholder="City, State or Zip">
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Search</button>
    </form>
  </div>
</div>
