<div class="row margin-t-50">
  <div class="col-xs-12 text-center">
    <h1>Find Jobs</h1>
    <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="jobTitle">Job Title</label>
        <input type="text" class="form-control input-lg" id="jobTitle" placeholder="Job Title" [(ngModel)]="searchFormParams.jobTitle" name="jobTitle">
      </div>
      <div class="form-group">
        <label class="sr-only" for="jobLocation">City, State or Zip</label>
        <input type="text" class="form-control input-lg" id="jobLocation" placeholder="City, State or Zip" [(ngModel)]="searchFormParams.location" name="location">
      </div>
      <button type="button" class="btn btn-primary btn-lg" (click)="jobSearch(searchFormParams)">Search</button>
    </form>
  </div>
</div>
